.category h2 {
	background-color: blue;
	color: #fff;
	margin: 0;
	padding: 5px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	display: flex;
	align-items: center;
	justify-content: center;
}

.category {
	display: grid;
	grid-template-rows: 100px repeat(5, 1fr);
	gap: 3px;
	background-color: #fff;
}
