.clue {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: blue;
	color: white;
	font-size: 1em;
	cursor: pointer;
	min-height: 100px;
	min-width: 100px;
	padding: 5px;
}

.dollar-value {
	font-size: 2em;
	color: #e4b35f;
	font-weight: 900;
	text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.9);
}
